{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 140,
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "prettier.disableLanguages": [
    "vue"
  ],
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}